/* colors...
green 1d4b40
dark green 1c4b40
darker green 203c30
light green 328161
tan faf7ee
grey 7a7b76
*/

.left-sidebar-header {
    background-color: #1d4b40;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    padding: 0.4em;
    color: #faf7f0;
    text-decoration: none;
}


ul {
    list-style-type: none;
    padding-top: 20%;
}

ul li a {
    color: #faf7ee;
    text-decoration: none;
}

li {
    padding: 5%;
    font-size: 20px;
}

/* targets the entire footer */
.left-sidebar-header footer {
    box-sizing: border-box;
    box-shadow: 0 -2px 4px -2px #000000;
    height: 64px;
    padding: 16px;
    padding-bottom: 78px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* targets media-link class within footer */
.left-sidebar-header footer .media-link {
    height: 45px;
}

/* targets <a> tag within footer */
.left-sidebar-header footer a {
    margin-right: 20px;
    text-decoration: none;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

main {
    margin-left: 200px;
    padding: 50px;
    padding-top: 90px;
}

body {
    background-color: #faf7ee;
    margin: 0 auto;
}

main h1 {
    font-weight: 900;
    color: #1c4b40;
}

main h2 {
    font-weight: 300;
    color: #7a7b76;
}

h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.postimg {
    height: 350px;
}