/* color schemes...
green 1d4b40
dark green 1c4b40
darker green 203c30
light green 328161
tan faf7ee
grey 7a7b76
*/

.left-sidebar-header {
    background-color: #1d4b40;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    padding: 0.4em;
    color: #faf7f0;
}

ul {
    list-style-type: none;
    padding-top: 20%;
}

ul li a {
    color: #faf7ee;
    /* removed the hyperlink text style */
    text-decoration: none;
}

li {
    padding: 5%;
    font-size: 20px;
}

/* targets the entire footer */
.left-sidebar-header footer {
    box-sizing: border-box;
    box-shadow: 0 -2px 7px 0px rgba(0, 0, 0, .27);
    height: 64px;
    padding: 16px;
    padding-bottom: 78px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* targets media-link class within footer */
.left-sidebar-header footer .media-link {
    height: 45px;
}

/* targets <a> tag within footer */
.left-sidebar-header footer a {
    margin-right: 20px;
    text-decoration: none;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

main {
    margin-left: 200px;
    padding: 50px;
    padding-top: 75px;
}

body {
    background-color: #faf7ee;
    margin: 0 auto;
}

main h1 {
    font-weight: 900;
    color: #1c4b40;
}

main h2 {
    font-weight: bold;
    color: #1c4b40;
}

p {
    color: #7a7b76;
}

.postimg {
    height: 350px;
    margin-right: 30px;
}

.projectimg {
    height: 180px;
    margin-right: 30px;
}

.post {
    /*post text appear to the right on the img*/
    display: flex;
    /*favored over border. adds a shadow border around my posts. 
    2px shadow below. 7px blur radius, how big the shadow casted is. rgba a=27% opaque */
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .27);
    /*spacing between post and boarder*/
    padding: 30px;
    /*add spacing between individual posts */
    margin-bottom: 30px;
}